@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<h2>Welcome to Fast Food Restaurant</h2>

<p>
    Select Mode:
    <select>
        <option value="admin">Admin</option>
        <option value="client">Client</option>
    </select>
</p>
